@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../styles/variable" as *;

.Spinner {
  &__Container {
    @include mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: $mobile-side-margin;
    }
    @include tablet {
    }
    @include desktop {
    }
  }
}
